/* Headers */

h2, h4, .sectionTitle {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

/* Paragraph */

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Sections */

.section{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: calc(5% + 4vw);
    padding-right: calc(5% + 4vw);
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    background: #0072bb;
}

/* Profile Picture */

.profile{
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
    grid-area: profile;
}

/* Home Section */

#home{
    align-items: self-end;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
    "profile title"
    "profile desc"
    "profile desc"
;
}

#home > *{
    padding-inline: 10px;
}

#welcomeTitle{
    grid-area: title;
}

#description{
    grid-area: desc;
}